.form_error {
  color: red;
}

a {
  cursor: pointer;
  color: rgb(7, 201, 201);
}

form {
  display: flex;
  flex-direction: column;
}

.general-btn {
  border: 4px solid black;
  padding: 0.5%;
  background-color: rgb(46, 78, 223);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 1px;
  cursor: pointer;
}

.general-btn:hover {
  transform: scale(1.1);
}

.add-expense-button {
  position: fixed;
  left: 3%;
  bottom: 5%;
}

.add_expense_popup_container {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid black;
  background-color: rgb(8, 15, 46);
  animation: popUp 1s ease-out forwards;
  color: rgb(196, 132, 36);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.add_expense_popup_container form {
  height: 50vh;
  width: 50vw;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 0.9fr 0.1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c"
    "d d";
  column-gap: 4%;
  justify-items: center;
}

.add_expense_popup_container .general-btn {
  width: 10vw;
}

.expense_types_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.add_expense_input_grp_a {
  grid-area: "a";
  position: relative;
  left: 50%;
  top: 20%;
}

.add_expense_input_grp_b {
  grid-area: b;
}

.add_expense_input_grp_c {
  grid-area: c;
}

.add_expense_input_grp_d {
  grid-area: d;
  position: relative;
  bottom: 100%;
}

.filter-expense-date-picker {
  position: relative;
  left: 50%;
  z-index: 1;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-container-row {
  column-gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.expense_row {
  border: 4px solid black;
  margin-top: 1%;
  padding: 1%;
  width: 25vw;
  font-weight: 500;
  background-color: #5393fa;
  opacity: 90%;
  position: relative;
}

.expense_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  border: 5px solid black;
  height: 60%;
  width: 35vw;
  overflow: scroll;
  align-items: center;
  background: rgb(32, 28, 28);
}

.expense_type_icon_bg {
  background: wheat;
  border: 3px solid black;
}

.e_amount::after {
  content: "₪";
  font-weight: 500;
  font-size: large;
  color: white;
  margin-left: 2px;
}

.e_row_text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Exo 2", serif;
}

.e_row_date {
  font-size: small;
}

.e_row_amount {
  font-size: larger;
}

.three-dots {
  position: relative;
}

.three-dots:after {
  content: "\2807";
  margin-left: 1vw;
}

.three-dots:hover {
  background: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.subtotal_amount {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/bg-photo.png");
}

.row_menu {
  position: absolute;
  border: 2px solid black;
  background: beige;
  left: 2.2vw;
  top: 0;
  padding: 10%;
  justify-items: center;
  font-size: small;
}

.expense_row_action_item:hover {
  font-weight: 600;
}

.bottom_dash {
  border-bottom: 2px solid black;
  margin-bottom: 5%;
}

.general_fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}

.general_fallback .material-icons {
  font-size: 10vh;
}

.filter-expense_list {
  height: 10%;
  z-index: 1;
  justify-items: start;
  border: 1px solid black;
  background: rgb(46, 78, 223);
  width: 20%;
  padding: 1%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.open-sidemenu-btn {
  position: fixed;
  left: 0;
  top: 50%;
  animation: menu-close-btn 1s ease-out forwards;
}

@keyframes menu-close-btn {
  0% {
    transform: translate(570%);
  }
  100% {
    transform: translate(0%);
  }
}

.open-sidemenu-btn-menu-open {
  position: fixed;
  left: 0;
  top: 50%;
  animation: menu-open-btn 1s ease-out forwards;
}

@keyframes menu-open-btn {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(570%);
  }
}

@keyframes popUp {
  0% {
    transform: translate(-50%, -150%); /* Start from the bottom */
  }
  100% {
    transform: translate(-50%, -50%); /* End at the original position */
  }
}

@keyframes menu-pop {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes menu-pop-out {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-100%);
  }
}

.side-menu-appearing {
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 15%;
  left: 0;
  height: fit-content;
  background: rgb(245, 245, 245);
  position: fixed;
  top: 30%;
  justify-content: center;
  cursor: pointer;
  animation: menu-pop 1s ease-out forwards;
}

.side-menu-item {
  z-index: 1;
  color: #5393fa;
  border: 1px solid black;
  padding: 10%;
  font-weight: 1000;
  text-decoration: none;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.side-menu-container {
  z-index: 1;
  position: relative;
}

.side-menu-disappearing {
  left: 0;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 15%;
  height: fit-content;
  background: rgb(245, 245, 245);
  position: fixed;
  top: 30%;
  justify-content: center;
  animation: menu-pop-out 1s ease-out forwards;
}

.side-menu-item:hover {
  background: rgb(228, 216, 216);
}

.budget-overview-gtid-container {
  position: relative;
  justify-content: center;
  top: 20vh;
  column-gap: 30%;
  display: grid;
  grid-template-columns: 20% 20%;
  grid-template-rows: 1fr 5fr;
  row-gap: 40%;
  grid-template-areas:
    "budget-a budget-b"
    "budget-c budget-c";
  width: 100vw;
  height: 75vh;
  transform: translate(-5%);
}

.budget-overview-grid-item-a {
  grid-area: budget-a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  align-items: center;
}

.budget-overview-grid-item-b {
  grid-area: budget-b;
  justify-items: center;
}

.budget-overview-grid-item-c {
  grid-area: budget-c;
  position: absolute;
}

.budget-line {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid black;
  background: wheat;
  width: 80vw;
  justify-self: center;
  justify-content: space-around;
}

.budget-component {
  border: 1px solid black;
  text-align: center;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.budget-component-expense {
  background: rgb(177, 42, 42);
  flex: 1;
  cursor: default;
}

.budget-component-total {
  background: rgb(140, 227, 238);
  flex: 2;
}

.catagory-expenses-details-wnd {
  position: absolute;
  bottom: 150%;
  border: 1px solid black;
  background: rgb(117, 112, 112);
  width: 13vw;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.budget-window {
  border: 1px SOLID BLACK;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
